*{
    margin:0;
    padding: 0;
}
.head{
    background-color: black;
    color: white;
    font-size: 5rem;
    text-align: center;
    height: 8rem;
    margin-top: 2rem;
    
    
}
.options{
    display: flex;
    justify-items:center;
    height: 8rem;
    width: 8rem;
    margin-left: 32rem;
    margin-top: 4rem;
    cursor: pointer;
    gap: 2rem;
}
.score{
    display: flex;
    justify-items: center;
}
.names{
    display: flex;
    justify-items:center;

}
.content{
    margin-left:41rem ;
    margin-top: 4rem;
}
.comp-score{
    font-size: 4rem;
    margin-left: 4rem;

}
.user-score{
    font-size: 4rem;
}
.u-name{
    font-size: 2rem;

}
.c-name{
    margin-left: 1rem;
    font-size: 2rem;
}
.statement{
    border-radius:1rem;
    align-items: center;
    font-size: 2rem;
    color: white;
    display: inline;
    margin-top: 2rem;
    margin-left: 35rem;

    
}
#rock{

    border-color: black;
    border-width: 1rem;
}